// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

// Animation
@keyframes fly-in {
  0% {
    transform: scale(0.85) translateY(10%);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

// Variables
$site-padding: 16px;

$avatar-size: 50px;
$submit-icon-size: 30px;

$user-text-color: #333333;
$user-text-background: #edfbfb;
$chatbot-text-color: #e4e3e3;
$chatbot-text-background: linear-gradient(#5867fb, #3F51B5);

// Resets
p,
form {
  margin: 0;
}

// General
body {
  background-image: radial-gradient(circle at 100% 100%, rgba(lightblue, 0.8),rgba(pink, 0.05)),
                    radial-gradient(circle at 100% 0%, rgba(#e3ade6, 0.05), rgba(#e3ade6, 0.8)),
                    radial-gradient(circle at 20% 50%, rgba(yellow, 0.5), rgba(pink, 0.1));
}

// Conversational UI
.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  max-width: 600px;
  height: 100vh;
  background: rgba(#fff, 0.1);
  box-shadow: 2px 1px 10px rgba(#A9A6A6, 0.4);
  margin: 0 auto;
}

// Chat log
.chat-log {
  box-sizing: border-box;
  padding: $site-padding;
  overflow-y: auto;
}

.chat-message {
  display: flex;
  align-items: center;
  width: 100%;

  transition: all 0.5s;

  // Other user variation
  &--right {
    flex-direction: row-reverse;

    .chat-message__text {
      background: $user-text-background;
      color: $user-text-color;
    }

    .chat-message__avatar-frame {
      margin-left: 16px;
      margin-right: 0;
    }
  }
}

// Add more space when users alternate
.chat-message +
.chat-message--right,
.chat-message--right +
.chat-message {
  margin-top: 32px;
}

// Add a corner on first message for user
.chat-message:not(.chat-message--right) +
.chat-message--right {
  .chat-message__text {
    border-radius: 18px 0 18px 18px;
  }
}

.chat-message:first-of-type,
.chat-message--right +
.chat-message:not(.chat-message--right) {
  .chat-message__text {
    border-radius: 0 18px 18px;
  }
}

// Handle consecutive messages:
// Remove extra space
// Hide avatar
.chat-message:not(.chat-message--right) + 
.chat-message:not(.chat-message--right),
.chat-message--right +
.chat-message--right {
  margin-top: 0;

  .chat-message__avatar-frame {
    visibility: hidden;
    opacity: 0;
  }
}

.chat-message__avatar-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $avatar-size;
  height: $avatar-size;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 16px;
}

.chat-message__avatar {
  height: 100%;
}

.chat-message__text {
  display: block;
  max-width: 65%;
  background: $chatbot-text-background;
  border-radius: 14px;
  box-sizing: border-box;
  padding: 12px 16px;
  font-size: 14px;
  font-weight: 300;
  color: $chatbot-text-color;

  animation-duration: 0.3s;
  animation-name: fly-in;
}

// Chat input area
.chat-input-area {
  position: relative;
}

.chat-input-area__input {
  width: 100%;
  background: rgba(#fff, 0.3);
  border: none;
  box-sizing: border-box;
  padding: $site-padding;
  padding-right: calc(#{$submit-icon-size} + 20px);

  &:focus {
    outline: none;
  }
}

.chat-input-area__submit-button {
  position: absolute;
  top: 0;
  right: 16px;
  bottom: 0;
  width: $submit-icon-size;
  height: $submit-icon-size;
  background-color: transparent;
  background-image: url('../images/paper-plane.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  margin: auto;

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }
}

ul {
  margin: 0;
  padding: 0;
}

ul > li {
  list-style:none;
}

ul > li > a{
  margin: 0 10px 0 0;
}

a:link {
  color:#fff;
  text-decoration:none;
}

a:visited {
  color:#fff;
  text-decoration:none;
}
a:hover {
  color:#000000;
  text-decoration:underline;
}
a:active {
  color:#fff;
  text-decoration:underline;
  background-color:#5867fb;
}